.panel-col-first ul.tabs li {
  list-style: none;
  list-style-image: none;
  float: left;
  margin-right: 12px;
  background-color: #2266aa;
}
.panel-col-first ul.tabs li.active {
  background-color: #4488cc;
}
.panel-col-first ul.tabs li span {
  height: 24px;
  padding: 4px 12px 0;
  display: block;
  cursor: pointer;
}
.panel-col-first ul.tabs li, .panel-col-first ul.tabs a {
  color: white;
}
.panel-col-first .panel-pane {
  border: 3px solid #4488cc;
  padding: 12px;
  background-color: #ddeeff;
  margin-bottom: 12px;
}
.panel-col-first .pane-views-panes {
  border-bottom: none;
  margin-bottom: 0;
}
.panel-col-first .pane-sharedcontent-local-content-selected {
  border-top-style: dotted;
}
.panel-col-first .pane-sharedcontent-references-current {
  border: 3px solid #88cc44;
  padding: 12px;
  background-color: #eeffdd;
  margin-bottom: 12px;
  border-top: none;
}
.panel-col-first .view-sharedcontent-local-content tr.active {
  background-color: #ffdd99;
}
.panel-col-first .view-sharedcontent-local-content.view-display-id-selected .views-label {
  font-weight: bold;
}

.panel-col-last ul.tabs li {
  list-style: none;
  list-style-image: none;
  float: left;
  margin-right: 12px;
  background-color: #66aa22;
}
.panel-col-last ul.tabs li.active {
  background-color: #88cc44;
}
.panel-col-last ul.tabs li span {
  height: 24px;
  padding: 4px 12px 0;
  display: block;
  cursor: pointer;
}
.panel-col-last ul.tabs li, .panel-col-last ul.tabs a {
  color: white;
}
.panel-col-last .panel-pane {
  border: 3px solid #88cc44;
  padding: 12px;
  background-color: #eeffdd;
  margin-bottom: 12px;
}

.view-id-sharedcontent_local_content .views-field-nothing,
.view-id-sharedcontent_remote_content .views-field-nothing,
.view-id-sharedcontent_references .views-field-nothing {
  width: 11em;
}
.view-id-sharedcontent_local_content .views-field-actions,
.view-id-sharedcontent_remote_content .views-field-actions,
.view-id-sharedcontent_references .views-field-actions {
  width: 8em;
}
.view-id-sharedcontent_local_content .views-field-search-api-relevance,
.view-id-sharedcontent_remote_content .views-field-search-api-relevance,
.view-id-sharedcontent_references .views-field-search-api-relevance {
  width: 3.3em;
}

.panel-separator {
  display: none;
}

.view-id-sharedcontent_assignment .views-field-created {
  width: 12em;
}
.view-id-sharedcontent_assignment .views-field-actions {
  width: 20em;
}

.pane-sharedcontent-ui-sharedcontent-ui-index-refresh .ctools-dropbutton-processed {
  position: relative;
}
